.admin {
    width: 90%;
    margin: 0 auto;
}

/* #table {
    display: flex;
    justify-content: center;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.25em;
    min-width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.content-table thead tr {
    background-color: #009879;
    /*color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px, 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid white;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
} */

.no-preview {
    background-color: red;
}

.movie,
.track {
    text-decoration: none;
    color: initial;
    display: flex;
    flex-direction: row;
}

.movie:visited,
.track:visited {
    color: initial;
}

.movie img,
.track img {
    height: 100px;
    margin-right: 0.5rem;
}

.movie span {
    font-size: 1.5rem;
    align-self: center;
    font-weight: bold;
}

.track-desc {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.track-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.holder {
    position: relative;
}

.result-list {
    position: absolute;
    border: 1px solid black;
    background-color: lightgray;
    width: 100%;
}

.result:nth-child(2n + 1) {
    background-color: white;
}

.new-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.new-form input {
    width: 100%;
    box-sizing: border-box;
}

.new-form button {
    grid-column: 1/3;
    width: 100%;
}

.result {
    display: flex;
    flex-direction: row;
}

.result button {
    width: 40px;
    min-width: 40px;
    height: 40px;
    font-size: 1.5rem;
    align-self: center;
    margin-left: auto;
}
