:root{
    --backColor: #203A43;
    --fontColor: #ddd;
}

.AnswerBox{    
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-around;
    width: 60%;
    margin-top: 200px;
}

.ElementCell{
    width: 20%;
    text-align: center;
}
  
.AnswerElement{
    width: 128px;
    height: 190px;
    border: none;
    background-color: white;
    transition: all 0.25s;
}

.AnswerElementPic{
    width: 128px;
    height: 190px;
}
/* .AnswerElement:hover{
    background-color: var(--backColor);
    color: var(--fontColor)
} */

.ElementPar{
    font-size: 20px;
}


