:root{
    --backColor: #203A43;
    --fontColor: #ddd;
}

.AnswerBox{    
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-around;
    width: 45%;
    margin-top: 200px;
}

.ElementCell{
    width: 15%;
    text-align: center;
}
  
.AnswerElement{
    width: 108px;
    height: 190px;
    border-style: solid;
    border-color: black;
    transition: all 0.25s;
}

.AnswerElement:hover{
    background-color: var(--backColor);
    color: var(--fontColor)
}

.ElementPar{
    font-size: 20px;
}


