.App {
  text-align: center;
}

.Title{  
  text-align: center;
  color: #ddd;
  margin: 0px;
}

.Header{
  height: 100px;
  width: 100%;
  background-color: #203A43;  
}

.AnswerBox{
  
}

.AnswerElement{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 50%;    
}
