:root{
  --backColor: #203A43;
}

.App {
  text-align: center;
}

.Title{  
  text-align: center;
  color: #ddd;
  margin: 0px;
}

.Header{
  height: 100px;
  width: 100%;
  background-color: var(--backColor);  
}
