:root{
  --backColor: #203A43;
  --backColorBody: #c8e0e9;
}

body{
  /* background-color: var(--backColorBody); */
}

.App {
  text-align: center;
}

.Title{  
  text-align: center;
  color: #ddd;
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}

.Header{
  height: 100px;
  width: 100%;
  background-color: var(--backColor);  
}

.InfoBox{
  font-size: 50px;
  margin-top: 1%;
  display: flex;
  flex-flow: row wrap;    
  justify-content: flex-start;
}

.HeadlineBig{
  margin: 1%;
  font-size: 35px;
  text-decoration: underline;
  font-weight: bold;
}
