.movies {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.movie-select {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.movie-select span {
    align-self: center;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
}

.poster {
    max-width: 100%;
    max-height: 100%;
}

.poster:hover {
    opacity: 0.5;
}
