.movie {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.movie img {
    height: 100px;
}

.movie a {
    font-weight: bold;
    color: black;
}

.movie a:hover {
    text-decoration: none;
    color: initial;
}

.movie a:visited {
    color: initial;
}
