.new-match {
    width: 85%;
    margin: 20px auto;
}

.holder {
    position: relative;
}

.result-list {
    position: absolute;
    border: 1px solid black;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    background-color: lightgray;
}

.result:nth-child(2n + 1) {
    background-color: white;
}

.new-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.new-form input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.2rem;
}

.result {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.result button {
    width: 40px;
    min-width: 40px;
    height: 40px;
    align-self: center;
    margin: 0.5rem;
    margin-left: auto;
}

.hidden {
    display: none;
}
