.track {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.track img {
    height: 100px;
}

.track-desc {
    display: flex;
    flex-direction: column;
}

.track a {
    font-weight: bold;
    color: black;
}

.track a:hover {
    text-decoration: none;
    color: initial;
}

.track a:visited {
    color: initial;
}
